@charset "utf-8";
/* CSS Document */
html {
/*    min-width:560px;*/
}

body {
    color: #4D4D4D;
    background-color: white;
    overflow-x:hidden;
    min-width: 600px;
}



#header_title {
    float:left;
    margin-left: -10px;
    margin-top: -10px;
    font-size: 22pt;
/*
    position: fixed;
    top: 0px;
    left: 0px;
*/
}

/*
#header_links {
    float:right;
    position:fixed;
    top:0px;
    right:0px;
}
*/

#header_content #logo{
    position: relative;
    top: 30px;
}

#header_bar {   
    width:100%;
}

#header_bar span {
    padding: 10px 10px;
/*    cursor: pointer;*/
}

#send_command {
    position: relative;
    left: 74%;
    width: 300px;
    height: 70px;
    display: none;
    padding: 10px 10px;
    text-align: left;
}

#send_command input {
    float: right;
}


#RunningDrivers {
    position: fixed;
    top: 65px;
    left: 10px;
    width: 100pt;
/*    height: 45%;*/
    padding: 5px;
    box-shadow: 0px 1px 4px #eeeeee;
    margin-left: auto;
    margin-right: auto;
}

#RunningDrivers span {
    font-size:larger;
/*    align-self:center;*/
}

#RunningDrivers ul {
}

#driver_list {
    margin-left: 0px;
}

#driver_refresh_button {
    align-self:center;
    color: grey;
}


#main_content {
    text-align: left;
/*    position: absolute;*/
/*    border: 1px solid black;*/
    padding-left: 160px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 20px;
/*    background-color: red;*/
/*
    left: 0px;
    top: 60px;
*/
    font-family: 'Calibri';
    font-size: 14pt;
/*    bottom: -40px;*/
    z-index:-1;
    padding-bottom: 40px;
    width: 100%;
    min-width: 100%;
}

#main_content_padding {
    min-height:50px;
}


#button_home:hover {
    color: #6F94E8;
}

#button_home:active {
    color: #5D7BC2;
}

#button_about:hover {
    color: #9CF07A;
}

#button_about:active {
    color: #8BC4A3;
}

#button_settings:hover {
    color: #E88989;
}

#button_settings:active {
    color: #D47D7D;
}

#header {
/*    position: initial;*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
	text-align:right;
/*    width: ;*/
    font-size: 13px;
    font-family: 'Varela Round', sans-serif;
/*    position: relative;*/
/*    left: 61%;*/
/*    background-color: white;*/
    padding: 10px 10px;
    height:55px;
    background:#FCFCFC;
/*    border-botom: 1px dashed ;*/
    border-bottom: 1px dashed #F2F2F2;
    min-width:600px;
}

#footer {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:40px;
    background:#FCFCFC;
    border-top: 1px dashed #F2F2F2;
    width: 100%;
    text-align:right;
    padding-right:20px;
/*
    background-image: url('resource?file=images/footer-pinstripe.png');
    background-repeat: repeat-x;
*/
}

#prefs_form {
    text-align: justify;
    font-size: 12pt;
/*    padding:10px;*/
/*    margin: 10px;*/
    width:400px;
}

.prefs_section {
    background-color: #FAFAFA;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 10px 5px 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.pref_input {
/*    margin: 10px;*/
    
}

.pref_key {
/*    padding-right: 10px;*/
}

.pref_value {
/*    float:right;*/
}

.pref_input input {
    width:180pt;
    float: right;
}

#prefs_section_twitter {
    color: #36B8FF;
}

#prefs_section_frontend {
    color:#FCD38B;
}

#prefs_section_webserver {
    color:#CCCCCC;
}

#prefs_section_main {
    color: #A3BFFF;
}




/*
.footer span {
    vertical-align: bottom;
}
*/
