@charset "utf-8";
/* CSS Document */

body {
    color: #4D4D4D;
    background-color: white;
}

.header {
    position: initial;
	text-align:center;
}

#header_content #logo{
    position: relative;
    top: 30px;
}

#header_bar {   
    font-size: 13px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    left: 61%;
    background-color: white;
    padding: 10px 10px; 
    width:500px;
    height:25px;
}

#header_bar span {
    padding: 10px 10px;
    cursor: pointer;
}

#send_command {
    position: relative;
    left: 74%;
    width: 300px;
    height: 70px;
    display: none;
    padding: 10px 10px;
    text-align: left;
}

#send_command input {
    float: right;
}


#RunningDrivers {
    position: relative;
    top: -30px;
    width: 18%;
    height: 45%;
    padding: 25px 10px;
}

#main_content {
    text-align: center;
    position: relative;
    left: 24%;
    top: 70px;;
    padding: 10px 10px;
    width: 50%;
}
